*{
    margin:auto;
}
/*header part*/
.header{
    height:60px;
    background-color: burlywood;
}
.component{
    color:brown;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:2%;
}
.home{
    color:brown !important;
}
.img{
    width:35px;
    height:35px;
    border-radius: 50%;
    float:right;
    margin-right: 20px;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
/*listing*/
.container{
    width:80%;
    height:680px;
    margin-top: 4%;
    margin-bottom: 3%;
}
.listing{
    width:20%;
    height:680px;
    border:3px groove burlywood;
    float:left;
    line-height: 40px;
}
.listingContainer{
    width:75%;
    height:680px;
    float:right;
   
}
.h1{
    text-align: center;
    color:black;
    font-size: 30px;
}
h3{
    color:red;
}
.catogory{
    margin-left: 20%;
    font-size: larger;
}
input{
    margin-right: 3%;
}
.box1,.box2,.box3{
    height:200px;
    width:100%;
    border:2px groove burlywood;
    margin-bottom: 5%;
}
.image{
    width:30%;
    height:150px;
    float:left;
    margin-top: 3%;
    margin-left: 3%;
}
.content{
    width:60%;
    height:150px;
    float:right;
    margin-top: 3%;
    margin-right: 3%;
}
.list{
    width:220px;
    height:150px;
    border-radius: 10px;

}
h2{
    color:purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding-top: 5%;
    padding-bottom: 3%;
    color:red
}
.detail{
    font-size: larger;
    color:green;
}
.fa-star,.fa-star-half-full{
    padding-bottom: 4%;
    color:rgb(248, 182, 0);
}
.rating{
    color:rgb(248, 182, 0);
}
/*footer*/
.footer{
    text-align: center;
    margin-bottom: 1%;
}
hr{
    margin-top: 50px;
}

@media screen and (max-width:1200px){
    .content{
        width:50%;
    }
}
@media screen and (max-width:800px){
    .container{
        width:100%;
        height:680px;
        margin-top: 4%;
        margin-bottom: 3%;
        display:flex;
        flex-direction: column;
    }
    .listing{
        width:75%;
        height:250px;
        display:inline-flex;
        margin-bottom: 4%;
    }
    .h1{
        display: none;
    }
    .catogory{
        margin-left: 10%;
        font-size: medium;
    }
    input{
        margin-right: 0%;
    }
    .content{
        width:40%;
    }
    .footer{
        text-align: center;
        margin-bottom: 1%;
    }
    hr{
        margin-top: 40%;
    }
}
@media screen and (max-width:600px){
    .container{
        width:100%;
        height:680px;
        margin-top: 4%;
        margin-bottom: 3%;
        display:flex;
        flex-direction: column;
    }
    .listing{
        width:75%;
        height:250px;
        display:inline-flex;
        margin-bottom: 4%;
    }
    .h1{
        display: none;
    }
    .catogory{
        margin-left: 3%;
        font-size: medium;
    }
    input{
        margin-right: 0%;
    }
    .box1,.box2,.box3
    {
        height:330px;
        display: flex;
        flex-direction: column;
    }
    
    .image{
        width:94%;
    }
    .list{
       width:100% 
    }
    .content{
        width:80%;
        margin-left: 10%;
        text-align: center;
    }
    .footer{
        text-align: center;
        margin-bottom: 1%;
    }
    hr{
        margin-top: 180%;
    }
}